.footer {
  text-align: center;
  padding: 48px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.footer a {
    font-size: 24px;
    color: white;
    margin-right: 25px;
    margin-left: 25px
}
